body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.allow-word-break {
  word-wrap: break-word;
  word-break: break-all;
  width: 40%;
}

div.security-app-container {
  overflow-y: auto;
  height: calc(100vh - 82px);
}

div.react-datepicker-wrapper {
  width: 100%;
}