.toast {
  --bs-toast-bg: rgba(var(--bs-body-bg-rgb), 1) !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.allow-word-break {
  word-wrap: break-word;
  word-break: break-all;
  width: 40%;
}

#security-app {
  margin-top: 40px;
  width: 100%;
}

div.security-app-container {
  overflow-y: auto;
  height: calc(100vh - 82px);
  padding-top: 10px;
}

div.react-datepicker-wrapper {
  width: 100%;
}

.table-permissions tr,
.table-permissions td {
  border: none !important;
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}

.table-permissions td.directive {
  width: 8.5em;
  font-weight: bold;
}

th.table-header-fix {
  font-size: 1em;
}

@media only screen and (max-width: 1023px) {
  .table-permissions td.directive-description,
  .table-permissions th.directive-description {
    display: none;
  }
}

@media only screen and (min-width: 1250px) {
  div.group-permissions div label strong {
    display: inline-block;
    width: 8.5em;
  } 
}

div.group-permissions div label:hover {
  background-color: lightgray;
}

.oui-vertical-tab {
  max-width: 180px !important;
  min-width: 180px !important;
}

.no-header-value {
  font-style: italic;
}

.header-value {
  font-style: normal;
}

.one-third {
  width: 33.33%;
}