@using EPiServer.Shell.Navigation

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Content Security Policy Management</title>
    <link href="~/_content/Stott.Optimizely.Csp/css/main.e4889cbf.css" rel="stylesheet">
</head>
<body>
    @Html.CreatePlatformNavigationMenu()
    <div @Html.ApplyPlatformNavigation()>
        <div class="container-fluid" style="border-top: 1px solid #d6d6d6;">
            <ul class="nav nav-tabs mt-1">
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Permissions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Violations</a>
                </li>
            </ul>

            @RenderBody()
        </div>
    </div>

    @RenderSection("modals", false)

    <script src="~/_content/Stott.Optimizely.Csp/Scripts/main.a9c38700.js" crossorigin="anonymous"></script>
</body>
</html>
