@using EPiServer.Shell.Navigation

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Content Security Policy Management</title>
    <link href="~/_content/Stott.Optimizely.Csp/css/main.56518a9d.css" rel="stylesheet">
</head>
<body>
    @Html.CreatePlatformNavigationMenu()
    <div @Html.ApplyPlatformNavigation()>
        <div class="container-fluid" style="border-top: 1px solid #d6d6d6;">
            @RenderBody()
        </div>
    </div>

    @RenderSection("modals", false)

    <script src="~/_content/Stott.Optimizely.Csp/js/main.6eefe694.js" crossorigin="anonymous"></script>
</body>
</html>
