@using EPiServer.Web.Mvc.Html
@using OptimizelyTwelveTest.Features.Common.Pages
@using Stott.Security.Optimizely.Features.Reporting
@model ISitePageViewModel<ISitePageData>

<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("MetaData", new { sitePage = Model.CurrentPage })

    @await Html.RenderEPiServerQuickNavigatorAsync()
</head>
<body>
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
    
    @await Component.InvokeAsync(typeof(CspReportingViewComponent))
</body>
</html>