name: .NET

on:
  push:
    branches: [ "feature/**", "bug/**" ]
  pull_request:
    branches: [ "main", "develop", "hotfix/**" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies NET 10.0
      run: dotnet restore Sample/OptimizelyTwelveTest.sln
    - name: Build NET 10.0
      run: dotnet build Sample/OptimizelyTwelveTest.sln --no-restore
    - name: Test NET 10.0
      run: dotnet test Sample/OptimizelyTwelveTest.sln --no-build --verbosity normal
